.root {
  background-color: #efeff4;
  display: flex;
  flex: 1;
  align-items: center;
  padding-top: 80;
}
.all_scroes_containner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 266;
  border-radius: 12;
  text-align: center;
  width: 100%;
  width: 630;
  margin-top: 70;
  margin-bottom: 14;
  background-color: white;
}
.all_scroes_value {
  font-size: 72;
  color: rgba(103, 103, 250, 1);
}
.all_name {
  font-size: 30;
  color: #434343;
}
.single_scroes_out_containner {
  /* height: 100; */
  /* flex:1; */
  width: 630;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 12;
  background-color: white;
}
.single_scores_containner {
  height: 189;
  width: 210;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single_scores {
  font-size: 60;
  color: rgb(254, 183, 90);
}
.single_subject {
  margin-top: 15;
  font-size: 24;
  color: rgba(67, 67, 67, 0.5);
}
.warn_words {
  text-align: center;
  margin-top: 20;
  font-size: 24;
  color: rgba(67, 67, 67, 0.5);
}
