.app {
  flex: 1;
  align-items: center;
  font-size: 16px;
  background-color: #efeff4;
  width: 750;
  padding-top: 75;
}

.choose_box {
  width: 550;
  height: 100;
  border-radius: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.top_picture {
  width: 173;
  height: 297;
  margin-bottom: 50;
}

.select {
  background-color: #ffffff;
  padding: 34 40;
  color: #434343;
  margin-bottom: 50;
}

.top_box {
  transform: translateY(-200);
}

.middle_box {
  transform: translateY(50);
}

.top_box,
.middle_box {
  color: #434343;
  padding: 34 40;
  background-color: #ffffff;
  margin-bottom: 50;
}

.btn {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6767fa;
}

.white_text {
  color: #ffffff;
}

.dropdown {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.select_item {
  padding-top: 40;
  padding-bottom: 40;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-bottom: 2px solid #ebf0f0;
}

.down {
  width: 50;
  height: 40;
}

.item_text {
  color: #6767fa;
}

.dropdown_container {
  position: absolute;
  top: 100;
  width: 550;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.selectedItem {
  background-color: rgba(0, 0, 0, 0.3);
}
.termSelect {
  background-color: #ffffff;
  width: 470;
  height: 250;
  border-radius: 40;
  overflow: hidden;
}
.selectContainer {
  background-color: #ffffff;
  width: 470;
  height: 350;
  display: flex;
  flex-direction: row;
  border-radius: 40;
  overflow: hidden;
}
.dropdown_list {
  width: 235;
  height: 350;
}

.first_triangle_up,
.second_triangle_up {
  width: 80;
  height: 60;
  margin-bottom: -21;
  margin-left: 200;
}

.first_triangle_up {
  margin-top: -18;
}

.second_triangle_up {
  margin-top: -10;
}

.term_list {
  position: absolute;
  top: 100;
  width: 550;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
/*.select-button{
  display: flex;
  justify-content: space-between;
}*/
