.subject_card{
    display: flex;
    flex:1;
    height: 148;
    flex-direction: column;
    margin:0 65;
    margin-top:85
}
.intro_containner{
    display: flex;
    flex-direction: row;
    flex:1;
    margin-bottom:40;
    justify-content:center;
    align-items:center;
}
.subject_category_containner{
    flex:2;
}
.subject_category{
   color:rgb(103,103,250);
   height:49;
   width: 86;
   border: 1 solid rgb(103,103,250)
}
.subject_type{
    flex:1;
    color:rgb(254,198,130);
    border:1 solid rgb(254,198,130);
}
.subject_scroes{
    flex:1.5;
    color:rgb(103,103,250);
    height:49;
    width: 86;
    border: 1 solid rgba(103,103,250,0.5)
}
.checkbox{
    flex:4;

}
.styles.subject_detail_containner {
    flex:1;
    display:flex;
    flex-direction: row;
}
.styles.subject_name{
    flex:1
}
.subject_scroes{
    flex:3
}