.App {
  background-color: rgb(239, 239, 244);
  /* height: 1334; */
  flex: 1;
}
.list {
  margin: 0 32;
}
.subject_card {
  border-radius: 15;
  background-color: white;
  display: flex;
  flex: 1;
  height: 160;
  width: 750;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40;
  padding-top: 20;
  padding-bottom: 20;
}
.intro_containner {
  width: 750;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 40;
  /* margin-bottom:40; */
  justify-content: center;
  align-items: center;
}

.info_box {
  border-width: 3;
  padding: 2 10;
  border-radius: 6;
  font-size: 28px;
  line-height: 49;
}

.subject_category_containner {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20;
}
.subject_category {
  margin-right: 15;
  border-color: #6767fa;
  color: #6767fa;
}
.subject_type {
  margin-right: 15;
  border-color: rgb(254, 183, 90);
  color: rgb(254, 183, 90);
}
.subject_credit {
  /* flex:1; */
  /*height: 49;*/
  /* width: 86; */
  /* margin-left: 30; */
  border-color: #ccccff;
  color: #ccccff;
}
.checkbox_containner {
  flex: 1;
  padding-top: 20;
}

.subject_detail_containner {
  padding-top: 15;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 40;
  margin-top: 20;
  align-items: center;
}
.subject_name {
  flex: 40;
  font-size: 28;
  text-overflow: ellipsis;
  padding-right: 10;
}
.subject_goals {
  flex: 10;
  font-size: 32;
  font-weight:600;
}
.subject_scroes {
  flex: 13;
  font-size: 32;
  font-weight:600;
  padding-right: 10;
}
.footer {
  position: fixed;
  background-color: rgb(239, 239, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 215;
  left: 0;
  right: 0;
  bottom: 0;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.compute_button {
  margin-right: 32;
  margin-top: -20;
}
